#clips {
  list-style-type: none;
  text-align: center;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
#audio_clip {
  border-radius: 4px;
  margin: 0 auto 0.5em;
}
#audio_tag {
  color: white;
}